<div ng-controller="TodoCtrl" ng-init="init()" class="todo-container">

  <div id="todo-info">
  	<span>Todos for {{currentUserName}}:</span>
    <span>{{todosRemaining()}} of {{todosSize()}} todos remaining</span>
  </div>
  
  <div id="todo-list">
    <ul class="unstyled">
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.completed">
        <span class="done-{{todo.completed}}">{{todo.title}}</span>
      </li>
    </ul>
  </div>

  <div id="todo-control">
    <form ng-submit="addTodo()">
      <input type="text" ng-model="todoText" class="control-input" placeholder="type todo here">
      <input class="btn-primary" type="submit" value="ADD" title="Adds a new Todo">
    </form>
    <br/>
    <button ng-click="persistTodos()" title="syncs local data with server">Sync with Server</button>
    <button ng-click="archiveTodos()" title="Trims all complete todos locally and from server">Archive old Todos</button>
    <br/>
    <span class="warning-statement">*Warning: make sure to sync list with server before clicking away from list or before archiving</span>
  </div>

</div>
