/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid gray;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* todo */


.done-true {
  text-decoration: line-through;
  color: grey;
}

.done-false {
  color: blue;
}

.control-input {
  width: 200px;
}

.todo-container {
  background-color: #FFFAFA;
  padding: 8px;
  margin: 4px;
  box-shadow: 10px 10px 5px #888888;
}

.warning-statement {
    font-size: 0.7em;
}